@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Belleza&family=Poppins:wght@600&family=Roboto+Condensed:wght@300&display=swap');

*{
	margin: 0;
	text-decoration: 0;
	padding: 0;
	box-sizing: none;
}

body{
	text-size: 100%;
	background: #a3e4db;
}

.cabecalho{
	display: flex;
	flex-direction: row;
	align-items: center;
 justify-content: space-between ; /* define a disposicao dos itens no plano horizontal*/
	background: #1c6dd0;
	height: 80px;
}

.imagem-cabecalho{
	height: 90px;
	width: 95px;
	margin-left:140px;
}

.menu{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	margin-right: 50px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 40px;
	padding-right: 10px;
}

.item-menu{
	margin: 14px;
	font-family: 'Belleza', sans-serif;
	font-size: 20px;
	font-weight: 300;
	color: #FFF8F3;
}

.corpo{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
}

.direita{ 
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 510px;
	margin-left: 50px;
	margin-right: 50px;
}

.titulo{
	font-family:'Poppins', sans-serif;
	font-size: 30px;
	font-weight: 600;
	text-align: justify;
	padding-bottom: 20px;
	color: #1b1b1b;
	padding-top:80px;
	
}

.texto{
	font-family:'Barlow Semi Condensed', sans-serif;
	text-align: justify;
	font-weight:100;
	color: black;
}

.item-botao{
	display: flex;
	justify-content: center;
	padding-top: 15px;
	padding-bottom: 10px;
	margin-top: 30px;
	width: 170px;
	height:26px;
	text-align: center;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-weight:400;
	color: black;
	background: #FFF8F3;
	border-radius: 20px;
}

.imagem-corpo{
	height: 510px;
	width: 820px;
}

.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-size: 'Belleza', sans-serif;
	color:#FFF8F3;
	align-items: center;
	background: #1c6dd0;
	height: 50px;
}



















